* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin-top: 30px;
  width: 75%;
  height: 100vh;
  /* border: 1px solid red; */
  margin-left: 13%;
}

/* .nav {
  border: 1px solid blue;
  width: 70%;
  height: 40px;
  margin-top: 10px;
  padding-top: 10px;
} */

.nav span {
  /* margin-bottom: 40px; */
  border: 1px solid black;
  /* box-shadow: 0.6px 0.1px 3.5px 0.3px; */
  width: 70%;
  height: 15px;
  padding: 5px 70px;
}
.nav .span1 {
  background-color: red;
}
.nav .span2 {
  background-color: rgba(128, 128, 128, 0.624);
}
.nav .span3 {
  background-color: rgba(128, 128, 128, 0.624);
}
.account {
  margin-top: 20px;
  /* box-shadow: 0.6px 0.9px 3.5px 0.3px; */
}
.emali {
  margin-top: 20px;
  margin-left: 5px;
}
.emali input {
  width: 70%;
  padding: 3px 20px;
  margin-bottom: 5px;
}
.password {
  margin-top: 20px;
  margin-left: 5px;
}
.password input {
  width: 70%;
  padding: 3px 20px;
  margin-bottom: 5px;
}
.c-passoword {
  margin-top: 20px;
  margin-left: 5px;
}
.c-passoword input {
  width: 70%;
  padding: 3px 20px;
  margin-bottom: 5px;
}
.b-btn {
  /* border: 2px solid blue; */
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.b-btn button {
  width: 60px;
  height: 60px;
  border: 2px solid blue;
  padding: 5px 10px;
  /* color: black; */
  background-color: blue;
  border-radius: 100%;
}
.b-btn a {
  color: white;
}
